.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 15px 0px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #000;

	@media (min-width: 991.98px) {
		.lock & {
			padding-right: 6px;
		}
	}

	// .header__container
	&__container {
	}

	// .header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__logo
	&__logo {
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: normal;

		@media (max-width: 991.98px) {
			font-size: 20px;
		}

		@media (max-width: 767.98px) {
			font-size: 15px;
		}
	}

	// .header__cart
	&__cart {
		position: relative;

		&_btn {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		// .header__cart_icon
		&_icon {
			width: 30px;
			height: 30px;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		// .header__cart_counter
		&_counter {
			margin-left: 5px;
		}

		&_modal {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			pointer-events: none;
			position: absolute;
			top: 45px;
			right: 0;
			width: 280px;
			background: #fff;
			border: 1px solid #000;
			z-index: 10;
			padding: 20px;
			transition: all 0.3s ease 0s;

			&._show-cart {
				opacity: 1;
				visibility: visible;
				transform: translateY(00px);
				pointer-events: all;
			}
		}

		&_item {
			display: flex;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&:last-child {
				margin-bottom: 20px;
			}

			&-img {
				width: 60px;
				height: 60px;
				margin-right: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&-desc {
				flex-grow: 1;

				p {
					margin-top: 5px;
					color: gray;
				}
			}

			&-price {
				margin-top: 5px;
			}
		}

		.remove-btn {
			margin-left: 5px;
			cursor: pointer;
			display: flex;
			align-items: flex-start;
			font-size: 16px;
		}

		&_total_price {
			font-weight: 500;
			font-size: 16px;
		}

		.btn {
			margin-top: 10px;
			width: 100%;
		}
	}
}
